@import './variables';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
}

section{
    background-color: $c1;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    .img-principal{
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
}

div{
    transition: 0.5s;
    padding: 50px 10px;

}

section div p{
    text-align: center;
    margin:30px 30px;
    border: 1px solid $c1;
    border-radius: 20px;
    padding: 10px;
    color: $c1;
    background-color: $c1;
    font-size: 20px;
    font-weight: 700;
}

div:active p{
    border: 1px solid black;
    color: white;
    background-color: black;
}

@media (max-width:768px){
    section{
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
}

@media (min-width:768px) and (max-width:1450px){
    section{
        height: 100%;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
        justify-content: center;

    }

}

@media (hover: hover){
    div:hover p{
        border: 1px solid black;
        color: white;
        background-color: black;
}
    div:hover{
    margin-bottom: 70px;
}
}
